extends layout

block content
  .wrap
    .container-fluid
        h1#titleheader Welcome to Auction 'Em All

        div#room-div
          .row
            .col-xs-8.col-sm9
              b In Room:
            .col-xs-8.col-sm9
              #user-list
        
        div#team-div
          .row
            .col-xs-8.col-sm9
              b Team:
            .col-xs-8.col-sm9
              #my-team None
        div#bid-div(hidden)
          .row
            .col-xs-8.col-sm9
              b#bid-message Waiting to bid on:
            .col-xs-8.col-sm9
              p#bidding-on Gor-Don
          .row
            .col-xs-8.col-sm9
              b#bid-timer-message Waiting for next round...
            .col-xs-8.col-sm9
              p#bid-timer 0:10
            .col-xs-4.col-sm9
              button#bid-button.btn.btn-primary.btn-lg.btn-block Bid

        #messages

        .push
  .footer
    .container-fluid
      .row
        .col-xs-8.col-sm-9
          input(type="text" id="message-box" class="form-control input-lg" placeholder="Chat..." rows="3")
        .col-xs-4.col-sm-3
          button#send-message-btn.btn.btn-primary.btn-lg.btn-block Send

block body_end
    script(type='text/javascript' src='/js/index.js')